body{
    background-image: url('wp2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.testo{
    text-align: center;
}
h1{
    font-size: 100px;
    margin: 0;
}
p{
    font-size: 1.67rem;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    text-decoration: underline;
}
.immagine{
    display:flex;
    justify-content: center;
    align-self: center;
}
img{
    width: 450px;
    border-radius: 10px;
}
.pedice{
    text-align: center;
    font-size: 15px;
}